.height-footer-contact{
    height: 150px;
}

.size-logo-farmviz{
    width: 60px;
    height: 60px;
}

.padding-footer-contact{
    padding-bottom: 5px;
}

.left-padding{
    padding-left: 10px;
}

.font-mail-icone{
    font-size: 19px;
    height: 10px;
}