.fond-footer{
    height: auto;
}

.size-img-footer1{
    width: 75px;
    height: 75px;
}

.size-img-footer2{
    width: 2rem;
    height: 2rem;
}

.paddingFormulaire {
    padding-bottom: 0.5em;
}

.paddingLogoFooter {
    padding-top: 0.5em;
}

.reseaux{
    width: auto;
}

.reseaux img{
    padding: 0px 8px;
}
