.footerMenuLi {
    padding: 0 0 7px 0px;
    text-align:left;
}

.footerMenuRow {
    justify-items: left;
}

@media screen and (max-width:1024px) {
    .footerMenuRow{
        flex-direction: row;
        justify-content: space-evenly;
        align-content:center;
    }

    .footerMenuLi {
        padding: 5px 20px;
        text-align:center;
    }

}