.FooterLinksContainer {
    color: white;
    background-color:  #3293ad;
    font-weight:bolder
}

.FooterLinksPadding {
    padding-top: 4em;
    padding-bottom: 1rem;
    background-color: transparent;
}

.FooterLinks {
    padding:0.2rem 0;
}

.mobFooterLinks {
    padding: 0 0.2rem;
}

@media screen and (min-width:421px) and (max-width:1024px) {

    .FooterLinks {
        padding:0.2rem 0 0.2rem 1rem;
    }
}

@media screen  and (max-width:420px) {

    .FooterLinksPadding {
        justify-content: space-around;
        padding-top: 2em;
        
    }

}