.p_news_jaune{
    color:#FFFF00 ;
    margin-top: 5px;
    margin-bottom: 5px;
}
.msg_erreur{
    color: red;
}
.footer_newsletter_titre, .footer__newsletter_text{
    text-align: center;
    }
    .input_newsletter{
        width: 92%;
    }
    .newsletter_input_button{
        /* justify-content: space-around; */
        justify-content: center;
    }
    
     .texte14 {
        font-family: "Arial Regular Bold";
        font-size:14px;
        background-color: transparent;
        font-weight: 800;
    } 
    .texte12 {
        font-family: "Arial Regular";
        font-size:12px;
        background-color: transparent;
    }
#Captcha{
    visibility: hidden;
}
    /* @media screen and (max-width:420px) {
          /* .footer_corps{
            display: flex;
            flex-direction: column;
        } */
      /* } */ 
    