

.row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

* {
    background-color: #f7fcfb;
}

h1 {
    font-family: "Arial Black";
    font-size:36px;
}

h2 {
    font-family: "Arial Bold";
    font-size:30px;

}

h3 {
    font-family: "Arial Bold";
    font-size:24px;
}

h4 {
    font-family: "Arial Bold";
    font-size:20px;
}

.texte18 {
    font-family: "Arial Regular";
    font-size:18px;

}

.texte14 {
    font-family: "Arial Regular";
    font-size:14px;

}

.texte24italic {
    font-family: "Arial";
    font-size:24px;
    font-style: italic;

}

.texte10 {
    font-family: "Arial Regular";
    font-size:10px;

}
.original_price_container {
    max-width:30px;
    /* position:absolute; */
}



.black {
    color:#020803;
}

.darkGrey{
    color: #555555;
}

.grey {
    color: #a7a7a7;
}

.blue {
    color: #3293ad;
}

.green {
    color: #48a24e;
}

.yellow {
    color: #FFFF00;
}

.lightBlue {
    color: #f7fcfb;
}

.white {
    color: white;
}

.farmviz{
    font-size: ;
    font-weight: ;

}

.title {
    font-size: ;
    font-weight: ;
}

.blue-background {
    background-color: #3293ad ;
}

.greenDiv {
    background-color: #48a24e;
    color:white
}

.darkGreyDiv {
    background-color: #555555;
    color:white;
}

.greyDiv {
    background-color: #a7a7a7;
}

.blackDiv {
    background-color: #020803;
    color: white;
}

.blueDiv {
    background-color: #3293ad;
    color: white;
}

.lightBlueDiv {
    background-color: #f7fcfb;
}

.yellowDiv {
    background-color: #FFFF00;
}
.orangeDiv {
    background-color: #f6a623;
}

input {
    border-radius: 5px;
    background: white;

}

button {
    border-radius: 5px;
    background: #f6a623;
    color:white;
}

.socialNetwork {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.off-0{display: none;}
.off-1{width: 8.33%;}
.off-2{width: 16.66%;}
.off-3{width: 25%;}
.off-4{width: 33.33%;}
.off-5{width: 41.66%;}
.off-6{width: 50%;}
.off-7{width: 58.33%;}
.off-8{width: 66.66%;}
.off-9{width: 75%;}
.off-10{width: 83.33%;}
.off-11{width: 91.66%;}
.off-12{width: 100%;}

@media screen and (max-width:420px) {
    .mob-0{display: none;}
    .mob-1{width: 8.33%;}
    .mob-2{width: 16.66%;}
    .mob-3{width: 25%;}
    .mob-4{width: 33.33%;}
    .mob-5{width: 41.66%;}
    .mob-6{width: 50%;}
    .mob-7{width: 58.33%;}
    .mob-8{width: 66.66%;}
    .mob-9{width: 75%;}
    .mob-10{width: 83.33%;}
    .mob-11{width: 91.66%;}
    .mob-12{width: 100%;}
}

@media screen and (min-width:421px) and (max-width:1022px) {
    .tab-0{display: none;}
    .tab-1{width: 8.33%;}
    .tab-2{width: 16.66%;}
    .tab-3{width: 25%;}
    .tab-4{width: 33.33%;}
    .tab-5{width: 41.66%;}
    .tab-6{width: 50%;}
    .tab-7{width: 58.33%;}
    .tab-8{width: 66.66%;}
    .tab-9{width: 75%;}
    .tab-10{width: 83.33%;}
    .tab-11{width: 91.66%;}
    .tab-12{width: 100%;}
}

@media screen and (min-width:1023px) and (max-width:1024px) {
    .tabx-0{display: none;}
    .tabx-1{width: 8.33%;}
    .tabx-2{width: 16.66%;}
    .tabx-3{width: 25%;}
    .tabx-4{width: 33.33%;}
    .tabx-5{width: 41.66%;}
    .tabx-6{width: 50%;}
    .tabx-7{width: 58.33%;}
    .tabx-8{width: 66.66%;}
    .tabx-9{width: 75%;}
    .tabx-10{width: 83.33%;}
    .tabx-11{width: 91.66%;}
    .tabx-12{width: 100%;}
}

@media screen and (min-width:1025px) {
    .dsk-0{display: none;}
    .dsk-1{width: 8.33%;}
    .dsk-2{width: 16.66%;}
    .dsk-3{width: 25%;}
    .dsk-4{width: 33.33%;}
    .dsk-5{width: 41.66%;}
    .dsk-6{width: 50%;}
    .dsk-7{width: 58.33%;}
    .dsk-8{width: 66.66%;}
    .dsk-9{width: 75%;}
    .dsk-10{width: 83.33%;}
    .dsk-11{width: 91.66%;}
    .dsk-12{width: 100%;}
}