
/* propriétés de la punchline */
.TopBannerLeft {
    color:white;
    text-align: left;
    
    

}

/* taille de police de la punchline */
.TopBannerLeftFontSize {
    
    font-size: 14px ;

}



