
/* permet d'afficher sas à côté de farmviz */
.ruby{
    display: contents;
}
 /* définit la taille du logo */
.ruby , h1{
    font-size: 36px;
    
}

/* définit la couleur la graisse, la police et la couleur du logo */
.logo{
    color: #48a24e;
    font-weight: 900;
    font-family: "Arial";
}

/* aligne sas avec farmviz */
.baseline {
    align-items: baseline;

}

/* définit l'espace entre farmviz et sas et la couleur de sas */
.sas {
    padding-left: 2px;
    color: #48a24e;
}