.punchline {
  white-space: nowrap;
  font-size:1em;
}




@media screen and (max-width:420px) {

    
      .punchline {
        display: none;
      }
  }



@media screen and (max-width:329px) {

    .serviceClient {
      white-space: nowrap;
      font-size:0.8em;
    }
  
  }

  @media screen and (min-width:592px) and (max-width:659px){
    .punchline {
      white-space: nowrap;
      font-size:0.9em;
    }
  
    .serviceClient {
      white-space: nowrap;
      font-size:0.9em;
    }
  }


  @media screen and (min-width:531px) and (max-width:591px){
    .punchline {
      white-space: nowrap;
      font-size:0.8em;
    }
  
    .serviceClient {
      white-space: nowrap;
      font-size:0.8em;
    }
  }
  @media screen and (min-width:462px) and (max-width:530px){
    .punchline {
      white-space: nowrap;
      font-size:0.7em;
    }
  
    .serviceClient {
      white-space: nowrap;
      font-size:0.7em;
    }
  }
  
  @media screen and (min-width:421px) and (max-width:461px){
    .punchline {
      white-space: nowrap;
      font-size:0.6em;
    }
  
    .serviceClient {
      white-space: nowrap;
      font-size:0.6em;
    }
  }
  