/* .IntroductoryOfferContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.IntroductoryOfferTitle {
    font-family: "Arial Black";
    font-size: 10vw;
}

.IntroductoryOfferOriginalPrice {
    font-family: "Arial";
    font-weight: bold;
    z-index: -1;
}

.discover {
    text-decoration: underline;
    color: white;
}
.offerCheckbox {
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    background-color:#F6A623;
} */