/* !! feuille de style commune à TextLeftImageRight et ImageLeftTextRight !!*/

/* Modifie l'alignement des blocs Image et texte dans le conteneur */
/* Modifie le centrage du conteneur et son padding */
.BlocImgTxt {
    justify-content: space-around;
    padding:20px;
    margin: auto;
}


/* Modifie la taille et le padding de l'image */
.ImgBlock {
    height: 25%;
    width:25%;
    padding:20px; 
}

/* Modifie la couleur du titre et du texte */
.blockTxtArticle {
    color: black;
}

@media screen and (max-width:420px) {

    .ImgBlock {
        height: 40%;
        width:40%;
        margin: 0; 
    }

}